/* Daniel Fletcher */
/* The Odin Project: Foundations */
/* Etch-a-Sketch */


@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/* --- GENERAL PROPERTIES --- */
:root {
  --color-menu: #4357ad;
  --color-background: #fef5ef;
  --color-highlight: #36c9c6;
  --color-separator: #dedede5a;

  --font-title: "Protest Riot", serif;
  --font-body: "Open Sans", sans-serif;
}


body {
  font-family: var(--font-body);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--color-background);
}

h1 {
  text-shadow: 5px 5px 2.5px black;
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: 700;
}


/* --- MENU BAR --- */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--color-menu);
  color: #ffffff;
  margin: 0;
  padding: 5px;
}

.menu-buttons {
  border: 2.5px solid #000000;
  box-shadow: 2.5px 2.5px 1.125px black;
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-button {
  background-color: #ffffff;
  border-right: 2.5px solid var(--color-separator);
  color: #000000;
  font-size: 1.675rem;
  user-select: none;
  text-align: center;

  margin: 0;
  padding: 0.475em;
  width: 1.25em;
  height: 1.25em;
}

.menu-button:last-child {
  border: none;
}

.menu-button:hover {
  cursor: pointer;
  opacity: 75%;
}

.menu-button.toggle-on:hover {
  cursor: default;
  opacity: 100%;
}

.toggle-off {
  background-color: #ffffff;
}

.toggle-on {
  background-color: var(--color-highlight);
}


/* --- CANVAS & DRAWING --- */
.container {
  display: flex;
  flex-wrap: wrap;

  border: 3px solid #000000;
  height: 810px;
  width: 810px;
}

.square {
  background-color: #ffffff;
  border: 0.5px groove #00000030;
  box-sizing: border-box;
}