/* Daniel Fletcher */
/* The Odin Project: Foundations */
/* Etch-a-Sketch */


/* --- GENERAL PROPERTIES --- */
body {
  margin: 0;
}


/* --- MENU BAR --- */
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: purple;
  margin: 0;
  padding: 10px;
}

.menu-buttons {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-button {
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.menu-button:hover {
  cursor: pointer;
  opacity: 75%;
}


/* --- CANVAS & DRAWING --- */
.container {
  display: flex;
  flex-wrap: wrap;

  border: 3px solid black;
  height: 810px;
  width: 810px;
}

.square {
  border: 3px solid black;
  box-sizing: border-box;
}